
.productlist__main__parent{
    display: flex;
    flex-direction: column
}
.sorting__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}
.sorting__buttons button{
    border: none;
    background-color: #fff;
    font-size: 1rem;
}
.productlist__main{
    flex: 0.5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}